%li.tile.card-full{style: "background-image: url('#{attachment_url(p, :image, :fill, 200, 200)}')"}
  =link_to p do
    %span.overlay
    .content
      %h3= p.short_title.upcase
  %span.plus{style: "background-color: #{cat.tag_color}"}
    %span.plus-inner +
  .popout{style: "background-color: #{cat.tag_color}"}
    =link_to "https://www.facebook.com/dialog/share?app_id=145634995501895&display=popup&href=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2F&redirect_uri=#{request.original_url}", target: "_blank" do
      %i.fa.fa-facebook-square
    =link_to ("http://pinterest.com/pin/create/button/?url=#{request.original_url}&media=https://unsplash.imgix.net/photo-1419332563740-42322047ff09?fit=crop&fm=jpg&h=700&q=75&w=1050&description=#{p.title}"), target: "_blank" do
      %i.fa.fa-pinterest-square
    =link_to p do
      READ
