%li.tile.card-full{style: "background-image: url('#{attachment_url(p, :image, :fill, 200, 200)}')"}
  =link_to p do
    %span.overlay
    .content
      %h3= p.short_title.upcase
      %small= "#{ time_ago_in_words p.published_at if p.published? } ago."
  %span.plus{style: "background-color:  #{cat.tag_color unless cat.nil? }"}
    %span.plus-inner +
  .popout{style: "background-color: #{cat.tag_color unless cat.nil? }"}
    =link_to ("http://pinterest.com/pin/create/button/?url=#{request.original_url}&media=https://s3-us-west-2.amazonaws.com/real-org-images/store/#{@post.shared_image.id}?fit=crop&fm=jpg&h=1200&w=750&description=#{@post.title}"), target: "_blank" do
      .fa.fa-pinterest-square
    =link_to "javascript:void(0)", target: "_blank" do
      .fa.fa-3x.fa-facebook-square.facebook.facebook-link
    =link_to "https://plus.google.com/share?url=#{post_url(@post)}", target: "_blank" do
      .fa.fa-google-plus-square
    =link_to p do
      Read
