.container
  = render "nav"
  .welcome-post
    =link_to @post do
      .main
        =render partial: "posts/poster", locals: { post: @post }
      .sidebar
        = render partial: "posts/sidebar"
  .index
    - @categories.each do |cat|
      =link_to category_path(cat.id) do
        .tag{style: "background: ##{cat.tag_color}", class:"category-tag"}= cat.nice_name.upcase
      %ul.index_row
        - cat.posts.limit(3).each do |p|
          = render partial: "shared/tile", locals: { p: p, cat: cat }
= render "footer"
