= render "admin/nav"
.clearfix
  .card
    -unless @post.published?
      .unpublished.fa-2x.fa.fa-bookmark
    =link_to edit_admin_post_path(@post) do
      .image{style: "background: url('#{attachment_url(@post, :image, :fill, 200, 200) if @post.image_id?}') no-repeat center; background-size: cover"}
      .content
        .title
          %strong=@post.title
          %br
          -if @post.published?
            = "Published #{time_ago_in_words(@post.published_at)} ago"
            %br
            %em= "#{pluralize(@post.impressions_count, "view")}"
          -else
            = "Draft: #{time_ago_in_words(@post.updated_at)} ago"
  .post_info
    %h3= @post.title
    -if @post.published?
      %h5= "Published #{time_ago_in_words(@post.published_at)} ago"
      %h5= "#{pluralize(@post.impressions_count, "view")}"
    -else
      %h5= "Draft: #{time_ago_in_words(@post.updated_at)} ago"
    =button_to "Edit", edit_admin_post_path(@post), class: "button btn-inline", method: :get
    =button_to "Delete", admin_post_path(@post), class: "button btn-inline btn-warning", method: :delete, confirm: "Are you sure?"
%hr
.post
  .body.show
    = @post.body.html_safe
:javascript
  disqus_shortname = "therealisticorganizer"
