=render "admin/nav"
=simple_form_for [:admin, @theme] do |f|
  .body
    %table
      %tr
        %td Site Tagline
        %td= f.input :tagline, label: false, placeholder: "Tagline (ex. Save. Play. Organize)"
      %tr
        %td Facebook
        %td= f.input :facebook, label: false, placeholder: "Facebook"
      %tr
        %td Instagram
        %td= f.input :instagram, label: false, placeholder: "Instagram"
      %tr
        %td Pinterest
        %td= f.input :pinterest, label: false, placeholder: "Pinterest"
      %tr
        %td Google Plus
        %td= f.input :google_plus, label: false, placeholder: "Google_plus"
      %tr
        %td BlogLovin'
        %td= f.input :blog_lovin, label: false, placeholder: "BlogLovin'"
    .index
      .card
        #image.card_image{style: "background: url(#{attachment_url(@theme, :logo_image, :fit, 300, 300) if @theme.logo_image_id?}) no-repeat center; background-size: cover"}
        .inputs
          %strong Logo
          = f.input :remove_logo_image, as: :boolean, label: "Remove Image" if @theme.logo_image_id?
        = f.attachment_field :logo_image, direct: true, presigned: true, class: "image_upload"
      .card
        #image.card_image{style: "background: url(#{attachment_url(@theme, :signature_image, :fit, 300, 300) if @theme.signature_image_id?}) no-repeat center; background-size: cover"}
        .inputs
          %strong Post Signature
          = f.input :remove_signature_image, as: :boolean, label: "Remove Image" if @theme.signature_image_id?
        = f.attachment_field :signature_image, direct: true, presigned: true, class: "image_upload"
      .card
        #image.card_image{style: "background: url(#{attachment_url(@theme, :background_image, :fit, 300, 300) if @theme.background_image_id?}) no-repeat center; background-size: cover"}
        .inputs
          %strong Background Image
          = f.input :remove_background_image, as: :boolean, label: "Remove Image" if @theme.background_image_id?
        = f.attachment_field :background_image, direct: true, presigned: true, class: "image_upload"
      .card
        .image
          .icon.item.fa.fa-facebook-square.fa-4x{style: "color: #{@theme.icon_color}"}
        .content
          .title
            %strong Icon Background
            =f.input :icon_color, label: false
      .card
        .image.item{style: "background: #{@theme.header_bg}; color: #{@theme.header_color}"}
          .text Header Font
        .content
          .title
            =f.input :header_bg
            =f.input :header_color
      .card
        .image.item{style: "background: #{@theme.footer_bg}; color: #{@theme.footer_color}"}
          .text Footer Font
        .content
          .title
            =f.input :footer_bg
            =f.input :footer_color
      .card
        .image
          .btn.item{style: "background: #{@theme.button_bg}; color: #{ @theme.button_color}"} TEST BUTTON
        .content
          .title
            =f.input :button_bg
            =f.input :button_color
      .card#gradient
        :sass
          #gradient .item
            background: linear-gradient(transparentize(#{@theme.primary_gradient}, 0.60), transparentize(#{@theme.secondary_gradient}, 0.60))
        .image.item
        .content
          .title
            %strong Poster Gradient
            =f.input :primary_gradient, label: false
            =f.input :secondary_gradient, label: false
    =f.submit "Save", class: "button "
