=render "admin/nav"
=simple_form_for [:admin, @theme] do |f|
  .body
    %table
      %tr
        %td Site Tagline
        %td= f.input :tagline, label: false, placeholder: "Tagline (ex. Save. Play. Organize)"
      %tr
        %td Link
        %td URL
      %tr
        %td Facebook
        %td= f.input :facebook, label: false, placeholder: "Facebook"
      %tr
        %td Instagram
        %td= f.input :instagram, label: false, placeholder: "Instagram"
      %tr
        %td Pinterest
        %td= f.input :pinterest, label: false, placeholder: "Pinterest"
      %tr
        %td Google Plus
        %td= f.input :google_plus, label: false, placeholder: "Google_plus"
      %tr
        %td RSS Feed
        %td= f.input :rss, label: false, placeholder: "RSS"
    .index
      .card
        -if @theme.logo_image
          .image{style: "background: url('#{attachment_url(@theme, :logo_image, :fill, 200, 200)}') no-repeat center; background-size: cover"}
        -else
          .image{style: "background: #{@theme.logo_image}"}
        .content
          .title
            %strong Logo
            = f.attachment_field :logo_image, direct: true, class: "image_upload"
      .card
        -if @theme.signature_image
          .image{style: "background: url('#{attachment_url(@theme, :signature_image, :fill, 200, 200)}') no-repeat center; background-size: cover"}
        -else
          .image{style: "background: #{@theme.signature_image}"}
        .content
          .title
            %strong Post Signature
            = f.attachment_field :signature_image, direct: true
      .card
        -if @theme.background_image
          .image{style: "background: url('#{attachment_url(@theme, :background_image, :fill, 200, 200)}') no-repeat center; background-size: cover"}
        -else
          .image{style: "background: #{@theme.background_image}"}
        .content
          .title
            %strong Background Image
            = f.attachment_field :background_image, direct: true
      .card
        .image
          .icon.item.fa.fa-facebook-square.fa-4x{style: "color: #{@theme.icon_color}"}
        .content
          .title
            %strong Icon Background
            =f.input :icon_color, label: false
      .card
        .image.item{style: "background: #{@theme.header_bg}; color: #{@theme.header_color}"}
          .text Header Font
        .content
          .title
            =f.input :header_bg
            =f.input :header_color
      .card
        .image.item{style: "background: #{@theme.footer_bg}; color: #{@theme.footer_color}"}
          .text Footer Font
        .content
          .title
            =f.input :footer_bg
            =f.input :footer_color
      .card
        .image
          .btn.item{style: "background: #{@theme.button_bg}; color: #{ @theme.button_color}"} TEST BUTTON
        .content
          .title
            =f.input :button_bg
            =f.input :button_color
      .card#gradient
        :sass
          #gradient .item
            background: linear-gradient(transparentize(#{@theme.primary_gradient}, 0.60), transparentize(#{@theme.secondary_gradient}, 0.60))
        .image.item
        .content
          .title
            %strong Poster Gradient
            =f.input :primary_gradient, label: false
            =f.input :secondary_gradient, label: false
    =f.submit "Save", class: "button "
