.header
  %h2.title Categories
%hr
.body
  %h2 New Category
  = simple_form_for [:admin, @category] do |cat|
    = cat.input :name, placeholder: "Name", label: false
    = cat.input :description, placeholder: "Description", label: false
    = cat.submit
  %hr
  %ul
    - @categories.each do |c|
      %li
        %h4= link_to c.name, admin_category_path(c.id)
        =link_to 'Edit', edit_admin_category_path(c.id)
        =link_to 'Delete', admin_category_path(c.id), method: :delete, confirm: "Are you sure?"
        %p= c.description
