.poster{style: "background-image: url('#{attachment_url(post, :image, :fill, 800, 500)}')"}
  .overlay
    .poster-icons.icon-list
      =link_to ("http://pinterest.com/pin/create/button/?url=#{request.original_url}&media=https://s3-us-west-2.amazonaws.com/real-org-images/store/#{@post.shared_image.id}?fit=crop&fm=jpg&h=1200&w=750&description=#{@post.title}"), target: "_blank" do
        .fa.fa-pinterest-square.fa-3x.pinterest
      =link_to "javascript:void(0)", target: "_blank" do
        .fa.fa-3x.fa-facebook-square.facebook.facebook-link{ id: "#{ post_url(@post) }" }
      =link_to "https://plus.google.com/share?url=#{post_url(@post)}", target: "_blank" do
        .fa.fa-3x.fa-google-plus-square.google-plus
    .content
      .text
        =link_to @post do
          %h2{style: "color: white"}= @post.title
      - post.categories.each do |category|
        =link_to category do
          %span.tag.poster-tag{style: "background: #{category.tag_color}"}= category.nice_name.upcase
