.welcome.card
  = image_tag attachment_url(@user, :image, :fill, 300, 300), class: 'welcome-picture'
  .greeting
    %span.meet MEET
    %span.name= @user.first_name.upcase
    %p= @user.bio
  .call-to-action
  .modal
    %label{:for => "modal-message"}
      .button.btn.btn-outline.btn-full.modal-trigger{style: "text-align: center"} GET IN TOUCH
      =render "shared/message_modal"
    .icon-list
      %hr
      -unless @theme.pinterest
        =link_to @theme.pinterest do
          .fa.fa-pinterest-square.fa-3x
      -unless @theme.facebook
        =link_to @theme.facebook do
          .fa.fa-facebook-square.fa-3x
      -unless @theme.instagram
        =link_to @theme.instagram do
          .fa.fa-instagram.fa-3x
      -unless @theme.google_plus
        =link_to @theme.google_plus do
          .fa.fa-google-plus-square.fa-3x
      -unless @theme.rss
        =link_to @theme.rss do
          .fa.fa-rss-square.fa-3x
    %hr
    %h3 NEVER MISS A POST
    = simple_form_for @subscriber do |f|
      = f.input :email, label: false, placeholder: "Email"
      = f.submit "SUBSCRIBE", class: "btn btn-full", style: "border: none;"
  = render partial: "posts/category_block"
