.sidebar
  .welcome.card
    = image_tag attachment_url(Author.last, :avatar, :fill, 300, 300), class: 'welcome-picture'
    .greeting
      %span.meet MEET
      %span.name= Author.last.first_name.upcase
      %p= Author.last.short_bio(30)
    .call-to-action
      %h3 NEVER MISS A POST
      %input
      = button_tag "SUBSCRIBE"
    %hr
    .category-block
      %ul
        - i = 0
        - @categories.each do |cat|
          - i += 1
          = link_to cat do
            %li{style: "background: url('#{attachment_url(cat.posts.last, :image, :fill, 200, 200)}') no-repeat center"}
              %span.overlay
              %h3= cat.nice_name.upcase
  .related-blogs-block
    %ul
      - i = 0
      - p.categories.each do |cat|
        - if i < 3
          - cat.posts.last(3).each do |post|
            = render partial: "shared/tile", locals: { p: post, cat: cat }
            - i += 1
  .blog-archive-block.card
    %h3 BLOG ARCHIVE
    %hr
    %ul
      %li JANUARY
      %li FEBRUARY
      %li MARCH
      %li APRIL
      %li MAY
      %li JUNE
      %li JULY
      %li AUGUST
      %li SEPTEMBER
      %li OCTOBER
      %li NOVEMBER
      %li DECEMBER
