.welcome.card
  =link_to about_path do
    = image_tag attachment_url(@user, :image, :fill, 300, 300), class: 'welcome-picture'
    .greeting
      %span.meet MEET
      %span.name= @user.first_name.upcase
      %p= @user.bio
  .call-to-action
  .modal
    %label{:for => "modal-message"}
      .btn-outline.btn-full.modal-trigger{style: "text-align: center"} GET IN TOUCH
      =render "shared/message_modal"
  .spacer
  .icon-list
    =link_to 'RSS', "/feed?format=rss", type: "application/rss+xml"
    -unless @theme.pinterest.blank?
      =link_to @theme.pinterest, target: "_blank" do
        .fa.fa-pinterest-square.fa-3x
    -unless @theme.facebook.blank?
      =link_to @theme.facebook, target: "_blank" do
        .fa.fa-facebook-square.fa-3x
    -unless @theme.instagram.blank?
      =link_to @theme.instagram, target: "_blank" do
        .fa.fa-instagram.fa-3x
    -unless @theme.google_plus.blank?
      =link_to @theme.google_plus, target: "_blank" do
        .fa.fa-google-plus-square.fa-3x
    .spacer
    %h3 NEVER MISS A POST
    = simple_form_for @subscriber do |f|
      = f.input :email, label: false, placeholder: "Email"
      = f.submit "SUBSCRIBE", class: "btn btn-full", style: "border: none;"
    .spacer
  = render partial: "posts/category_block"
