.sidebar
  .welcome.card
    =image_tag "stefanie.jpg", class: "welcome-picture"
    .greeting
      %span.meet MEET
      %span.name= Author.last.first_name.upcase
      %p= Author.last.bio
    .call-to-action
      %h3 NEVER MISS A POST
      %input
      = button_tag "SUBSCRIBE"
    %hr
    .category-block
      %ul
        - i = 0
        - @categories.each do |cat|
          - i += 1
          = link_to cat do
            %li{style: "background: url('#{asset_path "unsplash-#{i}.jpg"}') no-repeat center"}
              %span.overlay
              %h3= cat.nice_name.upcase
  .related-blogs-block.card-full
    %ul
      - i = 0
      - p.categories.each do |cat|
        - if i < 3
          - cat.posts.last(3).each do |post|
            =link_to do
              %li{style: "background: url('#{asset_path "unsplash-11.jpg"}') no-repeat center"}
                %span.overlay
                .content
                  %span.tag{style: "background: #{post.categories.last.tag_color}"}= post.categories.last.name
                  %h3= post.title
                .plus
                  .fa.fa-2x.fa-angle-double-down.plus-inner
            - i += 1
  .blog-archive-block.card
    %h3 BLOG ARCHIVE
    %hr
    %ul
      %li JANUARY
      %li FEBRUARY
      %li MARCH
      %li APRIL
      %li MAY
      %li JUNE
      %li JULY
      %li AUGUST
      %li SEPTEMBER
      %li OCTOBER
      %li NOVEMBER
      %li DECEMBER
