.container
  = render "nav"
  .main
    :erb
      <script>
        window.fbAsyncInit = function() {
          FB.init({
            appId      : '714905915289688',
            xfbml      : true,
            version    : 'v2.2'
          });
        };

        (function(d, s, id){
           var js, fjs = d.getElementsByTagName(s)[0];
           if (d.getElementById(id)) {return;}
           js = d.createElement(s); js.id = id;
           js.src = "//connect.facebook.net/en_US/sdk.js";
           fjs.parentNode.insertBefore(js, fjs);
         }(document, 'script', 'facebook-jssdk'));
      </script>
    =render partial: "poster", locals: { post: @post }
    .blog.card
      = @post.body.html_safe
      -if @post.published_at > Date.new(2015/3/1)
        = attachment_image_tag @theme, :signature_image
    .index
      %ul.index_row_wide
        = render partial: "shared/ad_tile"
        = render partial: "shared/ad_tile"
    .comment.card
      .comment-header
        %h2 COMMENTS
      %hr
      #disqus_thread
        :coffee
          ### * * CONFIGURATION VARIABLES: THIS CODE IS ONLY AN EXAMPLE * * ###
          # Required - Replace example with your forum shortname
          disqus_shortname = "therealisticorganizer"
          disqus_identifier = '/organized-weekly-dinners/';

          ### * * DON'T EDIT BELOW THIS LINE * * ###
          do ->
            dsq = document.createElement('script')
            dsq.type = 'text/javascript'
            dsq.async = true
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js'
            (document.getElementsByTagName('head')[0] or document.getElementsByTagName('body')[0]).appendChild dsq
            return

  .sidebar
    =render partial: "sidebar", locals: { p: @post }
    =render partial: "related_block", locals: { p: @post }
    =render partial: "archives", locals: { p: @post }
= render "social_card"
= render "footer"
