.container
  = render "nav"
  .index
    %h5.tag{class: "tag-#{@category.name.downcase}"}= @category.name.upcase
    %hr.dark-hr
    %ul.index_row
      - @category.posts.each do |p|
        =link_to p do
          %li.card-full{style: "background-image: url('#{asset_path "unsplash-3.jpg"}')"}
            %span.overlay
            .content
              %h3= p.title.upcase
            .plus
              %i.fa.fa-2x.fa-angle-double-down.plus-inner
= render "footer"
